<!-- Page Storage -->
<div class="mx-5 my-5">
    
    <div class="d-sm-flex align-items-center justify-content-between my-4">
        <h4 class="mb-0 text-gray-800">Lista de Estoque</h4>
        <a href="#" class="d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Gerar Relatório</a>
    </div>

    <h5 class="text-left mb-5 text-gray-800">Filtrar por ...</h5>

    <table class="table table-sm table-hover ">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>R$ 150.00</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>R$ 275.00</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>R$ 80.00</td>
            </tr>
            <tr>
            <th scope="row">4</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>R$ 275.00</td>
            </tr>
            <tr>
            <th scope="row">5</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>R$ 80.00</td>
            </tr>
        </tbody>
    </table>

    <div class="d-sm-flex align-items-center justify-content-between my-4">
        <a href="#" class="d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Adicionar Novo</a>
        <h4 class="mb-0 text-gray-800"></h4>
    </div>

</div><!-- Page Storage -->