<ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text h4 mx-3">Gestão APP<sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="dashboard">
            <i class="fas fa-solar-panel fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Nav Item - Simulator -->
    <li class="nav-item ">
        <a class="nav-link" href="simulator">
            <i class="fas fa-calculator fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Simulador</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Painel Gestão
    </div>

    <!-- Nav Item - Financial -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse01"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-cash-register fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Financeiro</span>
        </a>
        <div id="collapse01" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="financial">Caixa e Bancos</a>
                <a class="collapse-item" href="financial">Recebimentos</a>
                <a class="collapse-item" href="financial">Pagamentos</a>
            </div>
        </div>
    </li><!-- Nav Item - Financial -->

    <!-- Nav Item - Sales -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse02"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-cart-arrow-down fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Vendas</span>
        </a>
        <div id="collapse02" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="sales">Pedidos</a>
                <a class="collapse-item" href="sales">Comissões</a>
                <a class="collapse-item" href="sales">Devoluções</a>
            </div>
        </div>
    </li><!-- Nav Item - Sales -->

    <!-- Nav Item - Registrations -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse03"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-list fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Cadastros</span>
        </a>
        <div id="collapse03" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="registrations">Produtos e Serviços</a>
                <a class="collapse-item" href="registrations">Clientes</a>
                <a class="collapse-item" href="registrations">Fornecedores</a>
            </div>
        </div>
    </li><!-- Nav Item - Registrations -->

    <!-- Nav Item - Shopping -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse04"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-archive fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Compras</span>
        </a>
        <div id="collapse04" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="shopping">Pedidos</a>
                <a class="collapse-item" href="shopping">Compras em aberto</a>
                <a class="collapse-item" href="shopping">Devoluções</a>
            </div>
        </div>
    </li><!-- Nav Item - Shopping -->

    <!-- Nav Item - Supply -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse05"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-clipboard fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Estoque</span>
        </a>
        <div id="collapse05" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="supply">Armazenamento</a>
                <a class="collapse-item" href="supply">Separação</a>
                <a class="collapse-item" href="supply">Entregas</a>
            </div>
        </div>
    </li><!-- Nav Item - Supply -->

    <!-- Nav Item - Production -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse06"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-industry fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Produção</span>
        </a>
        <div id="collapse06" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="production">Planejamento</a>
                <a class="collapse-item" href="production">Manutenção</a>
                <a class="collapse-item" href="production">Controle de Qualidade</a>
            </div>
        </div>
    </li><!-- Nav Item - Production -->

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Reports -->
    <li class="nav-item">
        <a class="nav-link" href="reports">
            <i class="fas fa-chart-line fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Relatórios</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    <hr class="sidebar-divider">
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Reports -->
    <li class="nav-item">
        <a class="nav-link" href="reports">
            <i class="fas fa-phone-volume fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Suporte</span>
        </a>
        <div class="row">
            <div class="col-md-6 px-5">
                <a href="https://api.whatsapp.com/message/OXVJNATOPP7QK1" target="_blank"><i class="fab fa-whatsapp-square fa-3x"></i></a>
            </div>

            <div class="col-md-4 px-5">
                <a href="https://t.me/sanlisgestao/" target="_blank"><i class="fab fa-telegram fa-3x"></i></a>
            </div>
        </div><!-- Redes Sociais 1 -->
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Divider -->
    <hr class="sidebar-divider">
    <hr class="sidebar-divider">
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Configurações -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse07"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-industry fa-md fa-fw mr-2 text-gray-900"></i>
            <span>Configurações</span>
        </a>
        <div id="collapse07" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="typeitems">Tipo de Itens</a>
                <a class="collapse-item" href="production">...</a>
                <a class="collapse-item" href="production">...</a>
            </div>
        </div>
    </li><!-- Nav Item - Configurações -->

    <!-- Divider -->
    <hr class="sidebar-divider">
    <hr class="sidebar-divider">
    <hr class="sidebar-divider my-0">

</ul>