<div id="layoutSidenav_nav">

    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

        <div class="sb-sidenav-menu">

            <div class="nav">

                <a class="nav-link" href="dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>

                <a class="nav-link" href="simulator">
                    <div class="sb-nav-link-icon"><i class="fas fa-calculator pr-1"></i></div>
                    Simulador
                </a>

                <div class="sb-sidenav-menu-heading">Painel</div>

                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapse01" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-cash-register"></i></div>
                    Financeiro
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="collapse01" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="financial">Caixa e Bancos</a>
                        <a class="nav-link" href="financial">Recebimentos</a>
                        <a class="nav-link" href="financial">Pagamentos</a>
                    </nav>
                </div><!-- Nav Item - Financial -->

                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapse02" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-cart-arrow-down"></i></div>
                    Vendas
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="collapse02" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="sales">Pedidos</a>
                        <a class="nav-link" href="sales">Comissões</a>
                        <a class="nav-link" href="sales">Devoluções</a>
                    </nav>
                </div><!-- Nav Item - Sales -->

                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapse03" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                    Cadastros
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="collapse03" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="registrations">Painel Cadastros</a>
                        <a class="nav-link" href="items">Produtos e Serviços</a>
                        <a class="nav-link" href="registrations">Clientes</a>
                        <a class="nav-link" href="registrations">Fornecedores</a>
                    </nav>
                </div><!-- Nav Item - Registrations -->

                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapse04" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                    Compras
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="collapse04" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="shopping">Pedidos</a>
                        <a class="nav-link" href="shopping">Compras em aberto</a>
                        <a class="nav-link" href="shopping">Devoluções</a>
                    </nav>
                </div><!-- Nav Item - Shopping -->

                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapse05" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>
                    Estoque
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="collapse05" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="supply">Armazenamento</a>
                        <a class="nav-link" href="supply">Separação</a>
                        <a class="nav-link" href="supply">Entregas</a>
                    </nav>
                </div><!-- Nav Item - Supply -->

                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapse06" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-industry"></i></div>
                    Produção
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="collapse06" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="production">Planejamento</a>
                        <a class="nav-link" href="production">Manutenção</a>
                        <a class="nav-link" href="production">Controle de Qualidade</a>
                    </nav>
                </div><!-- Nav Item - Production -->

                <a class="nav-link" href="reports">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                    Relatórios
                </a><!-- Nav Item - Reports -->

                <div class="sb-sidenav-menu-heading">Administração</div>
                <a class="nav-link" href="https://api.whatsapp.com/message/OXVJNATOPP7QK1" target="_blank">
                    <div class="sb-nav-link-icon"><i class="fab fa-whatsapp-square"></i></div>
                    Suporte Whatsapp
                </a>
                <a class="nav-link" href="https://t.me/sanlisgestao/" target="_blank">
                    <div class="sb-nav-link-icon"><i class="fab fa-telegram"></i></div>
                    
                    Canal Telegram
                </a>


                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapse00" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                    Configurações
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="collapse00" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="typeitems">Tipos de item</a>
                        <a class="nav-link" href="unmeds">Unidades de medida</a>
                        <a class="nav-link" href="financial">...</a>
                    </nav>
                </div><!-- Nav Item - Settings -->

            </div>

        </div>

        <div class="sb-sidenav-footer">
            <div class="small">Template:</div>
            Start Bootstrap
        </div>

    </nav>

</div>