<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h3 class="my-5">Editar Unidade de Medida</h3>
            <%= link_to 'Mostrar', @unmed, class:"btn btn-sm btn-success mr-3 mb-2" %> 
            <%= link_to 'Voltar', unmeds_path, class:"btn btn-sm btn-success mb-2" %>
            <%= render 'form', unmed: @unmed %>
        </div>
    </main>
    <%= render 'shared/footer' %>
</div>