<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">
            
            <h3 class="my-5">Editar Unidade de Medida</h3>

            <%= render 'form', unmed: @unmed %>

            <%= link_to 'Mostrar', @unmed, class:"btn btn-secondary mr-3" %> 
            <%= link_to 'Voltar', unmeds_path, class:"btn btn-secondary" %>

        </div>

    </main>

    <%= render 'shared/footer' %>

</div>