<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">

            <h3 class="my-5">Adicionar Unidade de Medida</h3>

            <%= render 'form', unmed: @unmed %>

            <%= link_to 'Voltar', unmeds_path, class:"btn btn-secondary" %>
            
        </div>

    </main>

    <%= render 'shared/footer' %>

</div>