<footer id="contato">
    
    <section class="row text-center">

        <article class="col-md-4 mb-5">
            <div>
                <h6 class="pb-2">Dados para Contato</h6>
                <p><strong>E-mail</strong></p>
                <p><a href="https://gmail.com/" target="_blank" role="button">sanlisgestao@gmail.com</a></p>
                <p><strong>Telefone</strong></p>
                <p>31 98112-4429</p>
                <p><strong>Horário de atendimento</strong></p>
                <p>Segunda-feira a Sexta-feira</p>
                <p>08h00 às 18h00</p>
            </div>
        </article><!-- E-mail e Telefone -->
        
        <article class="col-md-4 mb-5">
            <div>
                <h6 class="pb-2">Conteúdo</h6>
                <li><a href="404">Blog</a></li>
                <li><a href="404">Downloads</a></li>
                <li><a href="404">Agenda</a></li>
                <li><a href="404">Podcasts</a></li>
            </div>
        </article><!-- Conteúdo -->

        <article class="col-md-4 mb-5">

            <h6 class="pb-5">Redes Sociais</h6>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="https://api.whatsapp.com/message/OXVJNATOPP7QK1" target="_blank"><i class="fab fa-whatsapp-square fa-3x"></i></a>
                </div>
                <div class="col-md-4">
                    <a href="https://t.me/sanlisgestao/" target="_blank"><i class="fab fa-telegram fa-3x"></i></a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
                </div>
            </div><!-- Redes Sociais 1 -->
            <br>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.instagram.com/sanlisgestao" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.twitter.com/sanlisgestao" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a>
                </div>
            </div><!-- Redes Sociais 2 -->

        </article><!-- Redes Sociais -->

    </section><!-- Cards -->

</footer><!-- Contatos -->