<section id="planos">
    <div class="conteudo"></div><!-- conteudo -->
    <h2>Planos Disponíveis</h2>
    <h6>Escolha a melhor modalidade para você:</h6>
    <h6>Presencial ou Online</h6>
    <section class="row">
        <article class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Plano Básico</h5>
                    <img class="imagem-card" src="" alt="">
                    <h6 class="card-text">Quer ter o controle de suas atividades na palma da mão?</h6>
                    <a href="#planos"><button class="btn btn-success" type="button">Saiba Mais</button></a>
                </div>
            </div>
        </article><!-- Plano 1 -->
        <article class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Plano Prata</h5>
                    <img class="imagem-card" src="" alt="">
                    <h6 class="card-text">Há quanto tempo você trabalha mais de 12 horas por dia?</h6>
                    <a href="#planos"><button class="btn btn-success" type="button">Saiba Mais</button></a>
                </div>
            </div>
        </article><!-- Plano 2 -->
        <article class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Plano Ouro</h5>
                    <img class="imagem-card" src="" alt="">
                    <h6 class="card-text">O que está faltando para os seus sonhos se tornarem realidade?</h6>
                    <a href="#planos"><button class="btn btn-success" type="button">Saiba Mais</button></a>
                </div>
            </div>
        </article><!-- Plano 3 -->
    </section><!-- row -->
</section><!-- Planos Disponíveis -->