<section id="planos">

    <section class="pt-5">
        <h2>Planos Disponíveis</h2>
    </section><!-- Título -->

    <section class="mb-3">
        <h6>Escolha a melhor modalidade para você:</h6>
        <h6>Presencial ou Online</h6>
    </section><!-- Presencial ou Online -->

    <section class="row">

        <article class="col-sm-12 col-md-6 col-lg-4">
            <div class="my-3 mx-2">
                <h4 class="my-2">Plano Básico</h4>
                <%= image_tag 'planobasico.webp', class: 'imagem-card mx-auto d-block profile-round' %>
                <h6 class="my-2">Quer ter o controle de suas atividades na palma da mão?</h6>
                <a class="link-btn" href="#planos"><button class="btn btn-light btn-block" type="button">Saiba Mais</button></a>
            </div>
        </article><!-- Plano 1 -->

        <article class="col-sm-12 col-md-6 col-lg-4">
            <div class="my-3 mx-2">
                <h4 class="my-2">Plano Prata</h4>
                <%= image_tag 'planoprata.webp', class: 'imagem-card mx-auto d-block profile-round' %>
                <h6 class="my-2">Há quanto tempo você trabalha mais de 12 horas por dia?</h6>
                <a class="link-btn" href="#planos"><button class="btn btn-light btn-block" type="button">Saiba Mais</button></a>
            </div>
        </article><!-- Plano 2 -->

        <article class="col-sm-12 col-md-6 col-lg-4">
            <div class="my-3 mx-2">
                <h4 class="my-2">Plano Ouro</h4>
                <%= image_tag 'planoouro.jpg', class: 'imagem-card mx-auto d-block profile-round' %>
                <h6 class="my-2">O que está faltando para os seus sonhos se tornarem realidade?</h6>
                <a class="link-btn" href="#planos"><button class="btn btn-light btn-block" type="button">Saiba Mais</button></a>
            </div>
        </article><!-- Plano 3 -->

    </section><!-- Cards -->

</section><!-- Planos -->