<section id="quemsomos">
    <div class="center">
        <div class="center">
            <h2>Quem Somos</h2>
        </div><!-- center -->
    </div><!-- center -->
    <section class="row">
        <article class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-text">Trabalhamos em parceria presencial com empreendedores, artesãos, produtores, microempreendedores individuais e pequenas empresas com serviços especializados em gerenciamento das atividades financeiras, comerciais, operacionais e administrativas. Nossa equipe atua com os clientes, a fim de identificar os 6 pilares ligados a melhoria dos resultados. Esses pilares são: pessoas, métodos, processos, planejamento, indicadores e tecnologia. Em uma economia competitiva e dinâmica, é cada vez mais importante que a Gestão de um negócio se adapte às novas realidades exigidas pelo mercado e pelos consumidores. Os serviços da SanLis são elaborados de acordo com a realidade de cada negócio identificando e propondo soluções adequadas ao perfil do cliente.</h6>
                </div>
            </div>
        </article><!-- Quem somos 1 -->
    </section><!-- row -->
</section><!-- Quem Somos -->