<section id="servicos">

    <section class="py-5">
        <h2>Nossos Serviços</h2>
    </section><!-- Nossos Serviços -->

    <section class="row">

        <!-- Serviço 1 -->
        <article class="col-md-4">
            <div class="my-3">
                <h5 class="my-2">Gestão Financeira</h5>
                <h6 class="my-2">Auxiliar a reduzir despesas financeiras, melhorar o retorno sobre o patrimônio, obter ganhos no fluxo de caixa operacional e eliminar desperdícios.</h6>
                <a class="link-btn" href="#servicos"><button class="btn btn-light btn-block" type="button">Mais informações</button></a>
            </div>
        </article><!-- Serviço 1 -->

        <!-- Serviço 2 -->
        <article class="col-md-4">
            <div class="my-3">
                <h5 class="my-2">Gestão de Vendas</h5>
                <h6 class="my-2">Assegurar o crescimento das vendas, a melhoria da lucratividade e a longevidade dos resultados.  Identificar e padronizar as melhores práticas.</h6>
                <a class="link-btn" href="#servicos"><button class="btn btn-light btn-block" type="button">Mais informações</button></a>
            </div>
        </article><!-- Serviço 2 -->

        <!-- Serviço 3 -->
        <article class="col-md-4">
            <div class="my-3">
                <h5 class="my-2">Gestão de Estoque</h5>
                <h6 class="my-2">Equilibrar compras, armazenagem e entregas, controlando as entradas e o consumo de materiais e movimentando o ciclo dos produtos.</h6>
                <a class="link-btn" href="#servicos"><button class="btn btn-light btn-block" type="button">Mais informações</button></a>
            </div>
        </article><!-- Serviço 3 -->

        <!-- Serviço 4 -->
        <article class="col-md-4">
            <div class="my-3">
                <h5 class="my-2">Gestão de Compras</h5>
                <h6 class="my-2">Otimizar os custos e o potencial aumento da lucratividade sobre as vendas atraves da padronização do planejamento das compras com base no perfil dos seus clientes.</h6>
                <a class="link-btn" href="#servicos"><button class="btn btn-light btn-block" type="button">Mais informações</button></a>
            </div>
        </article><!-- Serviço 4 -->

        <!-- Serviço 5 -->
        <article class="col-md-4">
            <div class="my-3">
                <h5 class="my-2">Gestão de Produção</h5>
                <h6 class="my-2">Levantar e analisar as interrupções nos processos produtivos e as respectivas causas dessas interrupções, viabilizando um maior ganho de produtividade.</h6>
                <a class="link-btn" href="#servicos"><button class="btn btn-light btn-block" type="button">Mais informações</button></a>
            </div>
        </article><!-- Serviço 5 -->

        <!-- Serviço 6 -->
        <article class="col-md-4">
            <div class="my-3">
                <h5 class="my-2">Gestão Administrativa</h5>
                <h6 class="my-2">Gerenciar as rotinas a fim de permitir que profissionais sejam capazes de resolver problemas do dia a dia e de minimizar a sobrecarga de supervisores e gerentes.</h6>
                <a class="link-btn" href="#servicos"><button class="btn btn-light btn-block" type="button">Mais informações</button></a>
            </div>
        </article><!-- Serviço 6 -->

    </section><!-- Serviços -->

</section><!-- Serviços -->