<div class="container">

    <!-- Quem Somos -->
    <%= render 'pages/quemsomos' %>

    <!-- Serviços -->
    <%= render 'pages/servicos' %>

    <!-- Planos Disponíveis -->
    <%= render 'pages/planos' %>

    <!-- Artigos -->
    <%= render 'pages/artigos' %>

</div>