<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">

            <h3 class="my-5">Adicionar NCM</h3>

            <%= render 'form', ncm: @ncm %>

            <%= link_to 'Voltar', ncms_path, class:"btn btn-secondary" %>
            
        </div>

    </main>

    <%= render 'shared/footer' %>

</div>