<!-- Page Items -->
<div class="mx-5 my-5">
    
    <div class="d-sm-flex align-items-center justify-content-between my-4">
        <h4 class="mb-0 text-gray-800">Lista de Produtos e Serviços</h4>
        <a href="#" class="d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Gerar Relatório</a>
    </div>

    <div class="d-sm-flex align-items-center justify-content-between my-4">
        <a href="items/new" class="d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Adicionar Produto</a>
        <h4 class="mb-0 text-gray-800"></h4>
    
        <a href="categories" class="d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Adicionar Categoria</a>
        <h4 class="mb-0 text-gray-800"></h4>
    
        <a href="ncms" class="d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Adicionar NCM</a>
        <h4 class="mb-0 text-gray-800"></h4>
    </div>

    <h5 class="text-left mb-3 text-gray-800">Filtrar por ...</h5>

    <%= render 'items/index' %>

</div><!-- Items -->