<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">

            <h3 class="my-5">Editar Item</h3>

            <%= render 'form', item: @item %>

            <%= link_to 'Mostrar', @item, class:"btn btn-secondary mr-3" %> |
            <%= link_to 'Voltar', items_path, class:"btn btn-secondary" %>

        </div>

    </main>

    <%= render 'shared/footer' %>

</div>
