<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">

            <h3 class="my-5">Adicionar Item</h3>

            <%= render 'form', item: @item %>

            <%= link_to 'Voltar', registrations_path, class:"btn btn-secondary" %>
            
        </div>

    </main>

    <%= render 'shared/footer' %>

</div>