<div class="dashboard">
    <div class="row">
        <div class="col-2">
        
        </div>
        <div class="container-dashboard col-10">
            <%= render 'dashboard/production/production' %>
        </div>
    </div>
</div>
