/* ----------------------------------------------------------------- */
/* -------------------------- Dashboard ---------------------------- */
/* ----------------------------------------------------------------- */

.container-dashboard {
    margin-top: 60px;
}

.nav-pills .nav-link.active {
  color:#13855c;
  background-color: #d3ffef;
  border-radius: 0px;
  border-bottom: 3px solid #13855c;
}

.nav-pills .nav-link {
  color:#13855c;
  background-color: #d3ffef;
  border-radius: 0px;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:active,
.nav-pills .nav-link:focus {
  border-bottom: 3px solid #13855c;
}

.nav-pills .show > .nav-link {
  color:#13855c;
  background-color: #d3ffef;
  border-radius: 0px;
  border-bottom: none; 
}

.btn-clear {
  background: transparent;
  color: #13855c;
  border: 0px;
  font-weight: 200;
  margin: 0;
  padding: 0;

}

@media screen and (max-width: 576px){

  .pills-v-tab .hidden-v-pills {
    display: none;
  }

  .pills-v-tab {
    width: 50px !important;
   
  }

}



/* ----------------------------------------------------------------- */
/* ----------------------- Design Responsivo ----------------------- */
/* ----------------------------------------------------------------- */

@media (min-width: 768px) {

    

}
