/* ----------------------------------------------------------------- */
/* ----------------------------- User ------------------------------ */
/* ----------------------------------------------------------------- */

.form-content{
    width: 600px;
    border-radius: 5%;
}


.form-user{
    padding: 10px 50px;
}

.profile-round {
    border-radius: 50%;
    width: 200px;
}

.profile-round-small {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


/* ----------------------------------------------------------------- */
/* ----------------------- Design Responsivo ----------------------- */
/* ----------------------------------------------------------------- */

@media screen and (max-width: 576px) {

    .form-content{
        width: 400px;
        border-radius: 5%;
    }
    
    
    .form-user{
        padding: 10px 20px;
    }

}



@media screen and (max-width: 400px) {

    .form-content{
        width: 280px;
        border-radius: 5%;
    }
    
    
    .form-user{
        padding: 10px 10px;
    }

}