/* ----------------------------------------------------------------- */
/* ---------------------- Configuração Básica ---------------------- */
/* ----------------------------------------------------------------- */

.page-home {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
    line-height: 30px;
}

p {
    font-size: 1rem;
}

.link-btn:hover {
    text-decoration: none;
}

img {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.imagem-card {
    width: 180px;
    height: 140px;
}

#contato {
    padding: 30px;
}   

a {
    color: #3a3a3f;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #5a5c69;
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 5px;
}

.text-gray-200 {
    color: #eaecf4 !important;
}
  
.text-gray-300 {
    color: #dddfeb !important;
}

.text-gray-600 {
    color: #858796 !important;
}
  
.text-gray-900 {
    color: #3a3b45 !important;
}
  
footer.sticky-footer {
    padding: 2rem 0;
    flex-shrink: 0;
}

footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}

footer.sticky-footer {
    width: 100%;
}

.img-profile {
    height: 2rem;
    width: 2rem;
}



/* ----------------------------------------------------------------- */
/* ----------------------- Design Responsivo ----------------------- */
/* ----------------------------------------------------------------- */

@media screen and (max-width: 576px) {

    

}