<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">

            <h3 class="my-5">Editar Categoria</h3>

            <%= render 'form', category: @category %>

            <%= link_to 'Mostrar', @category, class:"btn btn-secondary mr-3" %>
            <%= link_to 'Voltar', categories_path, class:"btn btn-secondary" %>
            
        </div>

    </main>

    <%= render 'shared/footer' %>

</div>