<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">
            
            <h3 class="my-5">Adicionar Categoria</h3>

            <%= render 'form', category: @category %>

            <%= link_to 'Voltar', categories_path, class:"btn btn-secondary" %>
            
        </div>

    </main>

    <%= render 'shared/footer' %>

</div>