<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h3 class="my-5">Adicionar Tipo de Itens</h3>
            <%= link_to 'Voltar', typeitems_path, class:"btn btn-sm btn-success mb-2" %>

            <%= render 'form', typeitem: @typeitem %>
        </div>
    </main>
    <%= render 'shared/footer' %>
</div>