<div class="container">

    <div class="container-devise devise">

        <h1 class="mb-5">Adicionar Tipo de Itens</h1>

        <%= render 'form', typeitem: @typeitem %>

        <%= link_to 'Voltar', typeitems_path, class:"btn btn-secondary" %>

    </div>
    
</div>