<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">

            <h1>Teste</h1>
            
        </div>

    </main>

    <%= render 'shared/footer' %>

</div>


<div id="layoutSidenav_content">

  <main>

    <div class="container-fluid">

      <div class="table-responsive">

        

      </div>
        
    </div>

  </main>

  <%= render 'shared/footer' %>

</div>